@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 375px;
    background-color: #ebebff;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 0 0 80px;
  }
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 375px;
    height: 48px;
    padding: 4px 24px 4px 12px;
    box-sizing: border-box;
    margin-top: 50px;
    background-color: white;

}

.logo {
    color: #6070ff;
    font-weight: 700; 
    font-size: 24px; 
    margin: 0;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; 
    height: auto;
    cursor: pointer;
}

.headLine {
    background-color: #fff;
    height: auto;
    border-bottom-left-radius: 50px;
    background-image: url('./images/header.png');
    background-repeat: no-repeat;
    padding-left: 24px;
}

.intro {
    font-size: 40px;
    line-height: 52px;
    color: #172B4D;
    font-weight: 700; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 327px;
    padding-top:15px;
}

.para{
  font-family: 'poppins' , sans-serif;
  font-size: 16px;
  font-style: normal;
  justify-content: space-between;
  width: 327px;
  height:146px;
}   
.connect{
    color: #7f8cff;
    align-items: center;
}

.icons{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-self: flex-start;
    justify-content: space-evenly;
    width: 170px;
    margin-left: 0px;
    padding-left: 0px;
}
.work-section {
    display: grid;
    grid-template-rows: repeat(4, auto);
    width: 375px;
    height: 2788px;
  }
  .card {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: auto;
    width: auto;
    justify-items: center;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 15px;
    border: 20px solid white;
    margin-top: 150px;
    transition: box-shadow 0.3s ease;
  }
  .img {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  .img img {
    height: auto;
    max-width: 100%;
  }
  
  .card-details h1 {
    font-size: 7.2vw;
    font-weight: 700;
    height: auto;
    width: auto;
    align-self: flex-start;
    color: #172b4d;
    margin: 0;
  }
  
  .techs {
    display: flex;
    justify-content: space-between;
    width: 236px;
    height: 32px;
    padding-top: 10px;
  }
  
  .tech-item {
    font-size: 3.7vw;
    font-weight: 600;
    margin-left: 2%;
    color: #7a869a;
  }
  
  .no-margin {
    margin-left: 0;
    color: #344563;
  }
  
  .techs img {
    margin-left: 2%;
  }
  
  .card-details p {
    font-size: 3.8vw;
    font-weight: 500;
    margin-top: 0;
    color: #344563;
  }
  
  .card-details ul {
    display: flex;
    align-self: flex-start;
    list-style: none;
    padding-left: 0;
  }
  
  .lang-list {
    align-self: flex-start;
    background-color: #ebebff;
    border-radius: 8px;
    font-size: 3vw;
    padding: 5px 10px;
    color: #6070ff;
    font-weight: 500;
  }
  
  .margin {
    margin-left: 5%;
  }
  
  .project {
display: flex;
justify-content: center;
align-items:center;
font-family: Poppins;
font-size: 17px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.03em;
text-align: center;
width:  126px;
height:  45px;
top: 12px;
padding: 12px,0px;
gap: 10px;
border-radius: 8px ;
border: 2px solid #6070FF;
color: #396DF2;
background-color: white;
  }  
 .counter{ 
    width: 8px;
    height:8px;
    padding-top: 7px;
  }
  .about{
    display: grid;
    grid-template-columns: auto;
    padding: 114px 24px;
    background-color: #fff;
    margin-top: 150px;
    border-top-right-radius: 50px;
  }
  .about-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
  }
  .about-intro h1{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 7px;
  }
  .about-intro p{
    margin-top: 5px;
    font-weight: 400;
    font-size: 16px;
  }
  .about-intro h3{
    color: #6070ff;
    font-weight: 500;
    margin-top: 5px;
  }
  .about-intro ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0px;
    justify-content: space-between;
    margin-top: 5px;
    width: 170px;
  }
  .about-intro button{
    align-self: flex-start;
    justify-content: center;
    padding: 12px;
    border: solid 1px;
    font-size: 17px;
    font-weight: 500;
    border-color: #6070ff;
    background-color: white;
    color: #396DF2;
    border-radius: 8px;
    margin-bottom: 10px; 
  }
  .lang-skills{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
  
  }
  .lang-skills h3{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .lang-skills img{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .disab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .contact-form {
    height: auto;
    width: auto;
    background-color: white;
    padding-top: 88px;
  }
  .form-background {
    background-image: url(./images/formbackground.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    background-color: #6070ff;
    border-top-left-radius: 50px;
  }
  .form-background h1 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin-top: 20%;
  }
  
  .form-background p {
    font-size: 18px;
    font-weight: 400;
    color: #ebebff;
    margin: 0 10%;
    text-align: center;
    line-height: 28px;
  }
  .form {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: 80%;
  }
  .name{
    width: 327px;
  height: 46px;
  border-radius: 10px;
  border: transparent;
  margin-bottom: 7%;
  padding-left: 5%;
  align-self: center;
  }
.text {
  width: 327px;
  height: 170px;
  border-radius: 8px;
  border: 1px solid transparent;
  margin-bottom: 7%;
  padding-left: 5%;
  align-self: center;
}
.submit {
  align-self: flex-start;
  height: 50px;
  width: 150px;
  border-radius: 8px;
  font-size: 17px;
  border: solid #6070ff;
  color: #396df2;
  background-color: white;
  margin-top: 2%;
}
.footer {
  background: #0d151e;
  width: 30%;
  height: 5px;
  border-radius: 10px;
  margin: 2% 0;
}