@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 375px;
    background-color: #ebebff;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 0 0 80px;
  }
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 375px;
    height: 48px;
    padding: 4px 24px 4px 12px;
    box-sizing: border-box;
    margin-top: 50px;
    background-color: white;

}

.logo {
    color: #6070ff;
    font-weight: 700; 
    font-size: 24px; 
    margin: 0;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; 
    height: auto;
    cursor: pointer;
}

.headLine {
    background-color: #fff;
    height: auto;
    border-bottom-left-radius: 50px;
    background-image: url('./header.png');
    background-repeat: no-repeat;
    padding-left: 24px;
}

.intro {
    font-size: 40px;
    line-height: 52px;
    color: #172B4D;
    font-weight: 700; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 327px;
    padding-top:15px;
}

.para{
  font-family: 'poppins' , sans-serif;
  font-size: 16px;
  font-style: normal;
  justify-content: space-between;
  width: 327px;
  height:146px;
}   
.connect{
    color: #7f8cff;
    align-items: center;
}

.icons{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-self: flex-start;
    justify-content: space-evenly;
    width: 170px;
    margin-left: 0px;
    padding-left: 0px;
}